<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="SummerOutreach.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="Browser" value="Chrome" />
    <add key="Username" value="mahalakshmi_nrynn@yahoo.com" />
    <add key="Password" value="test12345" />
    <add key="Website" value="http://stg-w3.umassmed.edu/SummerOutreach/" />
    <add key="PageLoadTimeout" value="60" />
    <add key="ElementLoadTimeout" value="2" />
  </appSettings>
  <applicationSettings>
    <SummerOutreach.Properties.Settings>
      <setting name="DateOfBirthId" serializeAs="String">
        <value>//div[@id='PersonalPage_DateOfBirth_dateview']</value>
      </setting>
    </SummerOutreach.Properties.Settings>
  </applicationSettings>
</configuration>