<?xml version="1.0" encoding="utf-8"?>
<configuration>
 <appSettings>
    <add key="Browser" value="Chrome"/>
    <add key="Username" value="mahalakshmi_nrynn@yahoo.com"/>
    <add key="Password" value="test1234"/>
    <add key="Website" value="http://stg-w3.umassmed.edu/SummerOutreach/"/>
    <add key="PageLoadTimeout" value="60" />
    <add key="ElementLoadTimeout" value="2"/>
  </appSettings>
</configuration>