<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <sectionGroup name="applicationSettings"
                  type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="CFM.Registration.Properties.Settings"
               type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
               requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="Browser" value="Chrome" />
    <add key="Username" value="lm@umassmed.edu" />
    <add key="Password" value="test1234" />
    <add key="Website" value="http://stg-w3.umassmed.edu/CFMOasisRegistration/" />
    <add key="PageLoadTimeout" value="60" />
    <add key="ElementLoadTimeout" value="2" />
  </appSettings>
  <applicationSettings>
    <CFM.Registration.Properties.Settings>
      <setting name="ProgramGrid" serializeAs="String">
        <value>//div[@id='grid']</value>
      </setting>
    </CFM.Registration.Properties.Settings>
  </applicationSettings>
</configuration>